<form class="auth shadowed" [formGroup]="form">
  @if(authMode !== 'log-in') {
  <h2>Usuario</h2>
  <input type="text" formControlName="username" />
  }
  <h2>Correo electrónico</h2>
  <input type="email" required formControlName="email" />
  <h2>Contraseña</h2>
  <input type="password" required formControlName="password" />
  @if(authMode === 'log-in') {
  <button (click)="loginAccount()" type="submit">Iniciar sesión</button>
  <p (click)="changeAuthMode(2)">No tienes una cuenta todavía? Créala</p>
  } @else {
  <button (click)="createAccount()" type="submit">Registrarse</button>
  <p (click)="changeAuthMode(1)">Ya tienes una cuenta? Continua jugando</p>
  }
</form>
