<div class="competitions-slides">
  <button (click)="changeSection('join')" type="button">unirse</button>
  <button (click)="changeSection('create')" type="button">crear</button>
</div>
@if(competitionSection === "JOIN") {
<div class="competitions">
  <form class="join-by-id" [formGroup]="form">
    <input type="text" class="join-input" placeholder="🆔 Unirse por ID" formControlName="joinCode" />
    <button class="join" type="submit" (click)="joinCompetition(null)">
      unirse
    </button>
  </form>
  
  @for (competition of competitions; track competition) { @if
  (competition.privacity === 'public') {
  <div class="competition">
    <span>🆔 #{{competition.joinCode}}</span>
    @switch (competition.difficulty) { @case ('easy') {
    <span>🟢 Fácil</span>
    } @case ('medium') {
    <span>🟠 Medio</span>
    } @case ('hard') {
    <span>🔴 Difícil</span>
    } }
    <span>👥 {{ competition.participants.length }}/{{ competition.maxPlayers }}</span>
    <button class="join" (click)="joinCompetition(competition.id)" type="button">
      unirse
    </button>
  </div>
  } }
</div>
} @else {
<div class="competition-config">
  <select name="privacity" (change)="changeConfig($event, 'privacity')">
    <option value="public">Competencia pública</option>
    <option value="private">Competencia privada</option>
  </select>

  <select name="difficulty" (change)="changeConfig($event, 'difficulty')">
    <option value="easy">Dificultad fácil</option>
    <option value="medium">Dificultad media</option>
    <option value="hard">Dificultad difícil</option>
  </select>

  @if(competitionConfig.privacity === 'private') {
  <select name="maxPlayers" (change)="changeConfig($event, 'maxPlayers')">
    <option value="2">2 jugadores</option>
    <option value="4" selected>4 jugadores</option>
    <option value="10">10 jugadores</option>
  </select>
  }

  <button class="create" (click)="createCompetition()">
    Crear competencia
  </button>
</div>
}
