:host {
  max-width: 1000px;
  margin: 0 auto;
}
main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}
control-panel,
stadistics {
  padding: 22px 26px;
  border-radius: 5px;
}
stadistics {
  width: 250px;
  max-height: calc(100vh - 100px);
}
control-panel {
  position: relative;
}
