<div class="container">
  <button (click)="hint()" class="button--control">
    <i class="fi fi-sr-lightbulb-on"></i>
    Pista
  </button>
  <button class="button--control" (click)="resolve()">Verificar</button>
  <button (click)="regenerateSudoku()" class="button--control">
    <i class="fi fi-br-refresh"></i>
    Regenerar
  </button>

  <p>{{ mistakes }}/3 fallos</p>

  <button class="settings" (click)="setShowSettings(!showSettings)">settings</button>
  @if(showSettings) {
    <settings class="shadowed"></settings>
  }
</div>


<!-- <div class="mode">
  <label class="switch">
    <input type="checkbox" [(ngModel)]="isLightMode" (ngModelChange)="toggleMode()">
    <span class="slider round"></span>
  </label>
  {{ isLightMode ? 'Light mode' : 'Dark mode' }}
</div> -->



