<h1>Acerca de</h1>
<h2>🤔 ¿Qué es el Sudoku?</h2>
<p>
  El Sudoku es un juego de lógica numérica que desafía tu mente.Con sus orígenes
  en Japón, se ha convertido en un favorito global para quienes buscan
  divertirse y ejercitarse mentalmente.
</p>
<h2>✨ Beneficios del Sudoku:</h2>
<ul>
  <li>Mejora la memoria</li>
  <li>Desarrolla habilidades lógicas</li>
  <li>Aumenta la concentración</li>
</ul>
<h2>🧠 Mitos Comunes</h2>
<p>Mito: Solo los matemáticos pueden jugar. Realidad: ¡Cualquiera puede disfrutar
del Sudoku!</p>
<h2>💬 Testimonios</h2>
<div class="testimonials">
  <div class="testimonials__testimonial">
    <h3>1️⃣</h3>
    <p>Siempre he amado los desafíos matemáticos, y el Sudoku se ha convertido en mi pasatiempo favorito. No solo me ayuda a mantener mi mente aguda, sino que también me ha enseñado a pensar estratégicamente y a resolver problemas de manera más eficiente. Cada vez que completo un rompecabezas, siento una gran satisfacción. Recomiendo encarecidamente el Sudoku a mis estudiantes; a menudo lo utilizo como una herramienta en mis clases para demostrar la importancia del pensamiento lógico.</p>
  </div>
  <div class="testimonials__testimonial testimonials__testimonial--medium">
    <h3>2️⃣</h3>
    <p>Descubrí el Sudoku durante la cuarentena y ha cambiado la manera en que paso mi tiempo libre. Al principio, me parecía complicado, pero a medida que practicaba, se volvió adictivo. Me encanta la sensación de ver cómo un rompecabezas que parecía imposible se va formando poco a poco. Además, he notado que mi capacidad de concentración ha mejorado desde que empecé a jugar. Es el equilibrio perfecto entre diversión y ejercicio mental.</p>
  </div>
  <div class="testimonials__testimonial">
    <h3>3️⃣</h3>
    <p>El Sudoku se ha convertido en una actividad familiar en casa. Mis hijos y yo pasamos horas intentando resolver diferentes niveles de dificultad juntos. No solo es una forma divertida de conectar, sino que también les ayuda a mejorar su lógica y habilidades de resolución de problemas. Es un tiempo de calidad que vale la pena, y nunca deja de ser un desafío. En cada sesión, todos terminamos con una sonrisa, ya sea que hayamos resuelto el puzzle o no.</p>
  </div>
</div>
<h2>👤 Sobre el Desarrollador</h2>
<p>Desarrollado por Cristina Herega Pakhmutov, entusiasta de los juegos de  lógica con el deseo de compartir la magia del Sudoku.<p>

