:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #4a90e2;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
button {
  width: 100%;
}
.middle-button {
  margin: 0px 15px;
}
p {
  color: #4a90e2;
  font-weight: bold;
}
.compete {
  margin-top: auto;
  margin-bottom: 10px;
}
settings, compete-popup {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  width: 100%;
}

compete-popup{
  width: 300px;
}

.mode {
  display: flex;
  align-items: center;
}
