<h1>Instrucciones</h1>
<h2>🧩 Cómo jugar al Sudoku</h2>
<p>
  El objetivo del Sudoku es rellenar una cuadrícula de 9x9 con dígitos de forma
  que cada columna, fila y sección de 3x3 contenga los números entre el 1 y el
  9. Al principio del juego, la cuadrícula de 9x9 tendrá algunas casillas
  rellenas. Tu trabajo consiste en usar la lógica para rellenar los dígitos que
  faltan y completar la cuadrícula. No olvides que una jugada es incorrecta si:
</p>
<ul>
  <li>Alguna fila contiene más de un número igual del 1 al 9</li>
  <li>Alguna columna contiene más de una cifra del mismo número del 1 al 9</li>
  <li>
    Cualquier cuadrícula de 3x3 contiene más de una cifra del mismo número del 1
    al 9.
  </li>
</ul>
<h2>👍 Consejos para el Sudoku</h2>
<p>
  El Sudoku es un juego de rompecabezas divertido una vez que le coges el truco.
  Al mismo tiempo, aprender a jugar al Sudoku puede ser un poco intimidante para
  los principiantes. Por lo tanto, si usted es un completo principiante, aquí
  hay algunos consejos de Sudoku que puede utilizar para mejorar sus habilidades
  de Sudoku.
</p>
<ul>
  <li>
    <h3>Consejo 1:</h3>
    <p>
      Busque filas y columnas de 3x3 que contengan 5 o más números. Trabaje a
      través de las celdas vacías restantes, probando los números que no se han
      utilizado. En muchos casos, encontrará números que sólo pueden colocarse
      en una posición teniendo en cuenta los otros números que ya están en su
      fila, columna y cuadrícula de 3x3.
    </p>
  </li>
  <li>
    <h3>Consejo 2:</h3>
    <p>
      Divida visualmente la cuadrícula en 3 columnas y 3 filas. Cada columna
      grande tendrá 3 cuadrículas de 3x3 y cada fila tendrá 3 cuadrículas de
      3x3. Ahora, busca columnas o cuadrículas que tengan 2 del mismo número.
      Lógicamente, debe haber una 3ª copia del mismo número en la única sección
      de 9 celdas que queda. Mira en cada una de las 9 posiciones restantes y
      comprueba si puedes encontrar la ubicación del número que falta.
    </p>
  </li>
</ul>
