header {
  width: 100%;
  min-width: 1300px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  cursor: pointer;
  margin-top: 49px;
  margin-bottom: 38px;
  font-size: 26px;
  transition: 0.35s;
}
.options {
  cursor: pointer;
  margin-bottom: 42px;
  font-size: 13px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.options div {
  margin: 0;
  font-weight: bold;
  transition: 0.35s;
}
.options div:hover,
header h1:hover {
  color: #4a90e2;
  text-decoration: underline;
}
footer {
  border-radius: 5px;
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #4a90e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
