:host {
  display: block;
  max-width: 390px;
  margin: 0 auto;
}

.auth {
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
}
h2 {
  text-align: left;
  color: #325aaf;
  font-size: 15px;
  font-weight: bold;
}
input,
button {
  width: 100%;
  max-width: 300px;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
}
input {
  margin-bottom: 30px;
  outline: none;
  background-color: #eaeef4;
}
button {
  margin-bottom: 10px;
  max-width: 320px;
  cursor: pointer;
  background-color: #325aaf;
  color: white;
  transition: 0.35s;
}
button:hover {
  background-color: #254383;
}
p {
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
}
p:hover {
  color: #325aaf;
}
