* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #333;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body.light {
  --background-color: #f9f9f9;
  --text-color: #000000;
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
  --border-color: #cccccc;
  --shadow-color-1: rgba(0, 0, 0, 0.1);
  --shadow-color-2: rgba(0, 0, 0, 0.2);
}
body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-bg-color: #333333;
  --button-text-color: #ffffff;
  --border-color: #555555;
  --shadow-color-1: rgba(255, 255, 255, 0.221);
  --shadow-color-2: rgba(255, 255, 255, 0.37);
}
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  cursor: pointer;
}
button.danger {
  background-color: #dc3545;
  color: #ffffff;
}
td, header h1, .options div, input {
  color: var(--text-color);
}

.shadowed {
  -webkit-box-shadow: 0px 6px 12.6px 4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 6px 12.6px 4px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 6px 12.6px 4px rgba(0, 0, 0, 0.17);
}

select {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 14px 16px;
  border: 0px;
  border-radius: 5px;
  color: #4a90e2;
  font-weight: bold;
  transition: 0.35s;
  outline: none;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #eaeef4;
  width: 100%;
}

.danger {
  cursor: pointer;
  padding: 14px 16px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.35s;
  outline: none;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #ea5f5f;
  width: 100%;
}
.danger:hover {
  background-color: #c63535;
}

.light-button {
  color: #4a90e2;
  background-color: #eaeef4;
}
.light-button:hover {
  color: #fff;
  background-color: #bdd0ec;
}
.dark-button {
  background-color: #4a90e2;
  color: white;
}
.dark-button:hover {
  background-color: #4280c8;
}

.button {
  text-transform: uppercase;
  font-size: 11px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 14px 16px;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.35s;
}

