<!-- <table>
  @for(row of table; track row; let rowIndex = $index) {
  <tr>
    @for(cell of row; track cell; let colIndex = $index) {
    <td
      (click)="selectCell(rowIndex, colIndex)"
      [attr.row]="rowIndex"
      [attr.col]="colIndex"
    >
      @if(cell !== 0) {
      {{ cell > 0 ? cell : "" }}
      } @else {
      <input
        type="number"
        (click)="selectCell(rowIndex, colIndex); $event.stopPropagation()"
        (focusout)="saveNewNumber(rowIndex, colIndex, $event)"
        [value]="cell > 0 ? cell : ''"
        [attr.row]="rowIndex"
        [attr.col]="colIndex"
      />
      }
    </td>
    }
  </tr>
  }
</table> -->
<table>
  <tbody>
    @for (row of table; track row; let rowIndex = $index) {
      <tr>
        @for (cell of row; track cell; let colIndex = $index) {
          <td
            (click)="selectCell(rowIndex, colIndex)"
            [attr.row]="rowIndex"
            [attr.col]="colIndex"
          >
            @if (cell !== 0) {
              {{ cell > 0 ? cell : "" }}
            } @else {
              <input
                type="number"
                (click)="selectCell(rowIndex, colIndex); $event.stopPropagation()"
                (focusout)="saveNewNumber(rowIndex, colIndex, $event)"
                [value]="cell > 0 ? cell : ''"
                [attr.row]="rowIndex"
                [attr.col]="colIndex"
              />
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>